@model IT703_Assignment2.Models.Booking

<br />
<h4>MY Booking Information</h4>

<hr />

<label class="control-label"> Search your reference number</label>
<form asp-action="Customer">
    <div class="row">

        <div class="col-md-4">
            <div class="form-group">
                <input class="form-control" name="id" />
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>

        </div>

    </div>
</form>

<hr />


@if (Model != null)
{

    @if (Model.Paid)
    {
        <p>Your booking was completed </p>

    }
    else
    {
        <p>You need to pay to complete your Booking </p>
    }
    <hr />


    <h3>Customer information </h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReferenceNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.ReferenceNum
                </td>
                <td>
                    @Model.FirstName
                </td>
                <td>
                    @Model.LastName
                </td>
                <td>
                    @Model.Phone
                </td>
                <td>
                    @Model.Email
                </td>
                <td>
                    @Model.Address
                </td>
            </tr>

        </tbody>
    </table>

    <h3>Booking information</h3>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Room Type
                </th>
                <th>
                    Room Number
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumGuest)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CheckIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CheckOut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomFee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParkingLot)
                </th>
                <th>
                    @if (!Model.Paid)
                    {
                        <button data-toggle="modal" data-target="#myModa3" class="btn btn-outline-secondary">+ Food</button>
                    }
                    else
                    {
                        <a>Food fee</a>
                    }
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Paid)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @ViewBag.type
                </td>
                <td>
                    @ViewBag.num
                </td>
                <td>
                    @Model.NumGuest
                </td>
                <td>
                    @Model.CheckIn.ToString("d")
                </td>
                <td>
                    @Model.CheckOut.ToString("d")
                </td>
                <td>
                    @Model.RoomFee
                </td>
                <td>
                    @Model.ParkingLot
                </td>
                <td>
                    @Model.restaurantFee
                </td>
                <td>
                    @Model.Paid
                </td>
                <td>
                </td>
            </tr>

        </tbody>
    </table>

    <div class="row">
        <div class="col-md-2">

            <div class="form-group">
                <label class="control-label">Total Cost : @ViewBag.total </label>
            </div>
        </div>
        <div class="col-md-8">
        </div>
        <div class="col-md-2">
            <div class="form-group float-right">
                @if (!Model.Paid)
                {
                    <button data-toggle="modal" data-target="#myModa2" class="btn btn-outline-secondary">Pay Now</button>
                }
            </div>
        </div>

    </div>


    <div class="modal fade" id="myModa2" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Booking</h4>
                </div>
                <div class="modal-body">
                    <form asp-controller="Bookings" asp-action="Customer">

                        <input hidden name="pay" value="true" />

                        <input hidden name="id" value="@Model.ReferenceNum" />
                        <div class="form-group">
                            <input type="submit" value="PAY" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <div class="modal fade" id="myModa3" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Booking</h4>
                </div>
                <div class="modal-body">
                    <form asp-controller="Bookings" asp-action="Customer">
                        <div class="form-group">
                            <label class="control-label"> select Menu </label>
                            <select class="form-control" name="food">
                                <option value=15>Lunch special : 15$ (/per)</option>
                                <option value=25>Dinner special: 25$ (/per) </option>
                                <option value=35>Lunch + Dinner: 35$ (/per) </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label"> select people </label>
                            <select class="form-control" name="num1">
                                <option value=1> 1</option>
                                <option value=2> 2 </option>
                                <option value=3> 3 </option>
                                <option value=4> 4 </option>
                            </select>
                        </div>

                        <input hidden name="id" value="@Model.ReferenceNum" />
                        <div class="form-group">
                            <input type="submit" value="Add Food" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


}
else if(ViewBag.result != null)
{
    <h1> Sorry <strong>@ViewBag.result</strong></h1>
}
else
{
<h1>Please search your booking Reference Number first :)</h1>
}



<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

