@*@model IEnumerable<IT703_Assignment2.Models.Booking>*@

@model Tuple<List<IT703_Assignment2.Models.Booking>, List<IT703_Assignment2.Models.Room>>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<br />

<h1>BOOKING LIST</h1>


<table class="table">
    <thead>
        <tr>
            <th>
               FirstName
            </th>
            <th>
                LastName
            </th>

            <th>
               CreatedAt
            </th>
            <th>
                Check In
            </th>
            <th>
              Check Out
            </th>
            <th>
                Room Number
            </th>

            <th>
                NumGuest
            </th>
            <th>
                RestaurantFee
            </th>
            <th>
                Room Fee
            </th>
            <th>
               Paid
            </th>
            <th>
                <a class="btn btn-primary" asp-action="Create"> New Booking</a>           
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item1)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CheckIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOut)
                </td>

                <td>
                 @if(item.RoomID != null)
                 {
                     @Model.Item2.SingleOrDefault(a=>a.RoomID == item.RoomID).RoomNum
                 }

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NumGuest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.restaurantFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paid)
                </td>
                <td>

                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.ReferenceNum">Detial</a>

                </td>
            </tr>
        }
    </tbody>
</table>

   